<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <h4>Node js application made using express and API calls <br><br> credits to mapbox (https://www.mapbox.com/) and darksky (https://www.darksky.net/)</h4>
            </div>
            
            
        </body>
</html>